#jumbo1 {
  background-color: pink;
  /*comfiguracion texto titulo*/
  text-align: center;
  font-family: Brush Script MT, cursive;
  /*position*/
  margin-top: 50px;
  margin-bottom: -30px;
}
#car1hotel {
  background-color: goldenrod;
}
#car3hotel {
  background-color: goldenrod;
}
