#navbar-ul1{
    text-align: right;
}
#jumbo1 {
  background-color: purple;
  color: black;
  /*margen*/
  margin: 50px;
}
#breadcrumbhome1{

}
background-color: rebeccapurple;    
.btn {
  background-color: hotpink;
}
